.full-vertical-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#infoCard {
  width: 26em;
}

#usernameInput {
  width: 23em
} 

.all-container {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.main-container {
  flex: 1 1 auto;
  background-color:cadetblue;
}